mixin uzivatelskyText(textareas)
  -
    const hasGallery = (textareas.galerie !== undefined) && (textareas.galerie !== false)
    const hasTable = (textareas.novaTabulka !== undefined) && (textareas.novaTabulka !== false)

  .row.user-texts(class= hasGallery || hasTable ? "with-submodule" : "")
    if (hasGallery)
      +gallery(textareas.galerie, textareas.layout)
      +userTexts-component(textareas.otazky)
    else if (hasTable)
      +novaTabulka-component(textareas.novaTabulka.tabulky, true)
      +userTexts-component(textareas.otazky)
    else
      +userTexts-component(textareas.otazky, textareas.layout)

mixin userTexts-component(questions, layout = "vertikalni")
  -
    const classVertical = layout === "vertikalni" ? "layout-vertical" : "";
    const classHorizontal = layout === "horizontalni" ? "layout-horizontal" : "";
    const length = questions.length;
    const feedback = {
      none: t.feedback.text.none[lang],
      short: t.feedback.text.short[lang],
      ok: t.feedback.text.ok[lang],
    }

  .user-texts-container(class= classVertical + " " + classHorizontal)
    each question, index in questions
      .item.user-text(class="item-" + length)
        - const instrukce = question.instrukce
        - const rows = question.vyska || 7
        - const duplicatedSource = question.duplikovat ? question.duplikovat.join(" ") : false;

        if question.zadani
          if (typeof question.zadani === 'string')
            h3.user-text__question !{typeset(question.zadani)}
          else if (typeof question.zadani === 'object' && question.zadani !== null)
            //- Supported modules: selectable
            h3.user-text__question(data-from= question.zadani.from) !{typeset(question.zadani.placeholder)}

        //- <!-- PARAMETR: uzivatelsky-text-#{(1+index)} -->
        .user-text__textarea
          textarea.user-text__input(
            id= question.id
            placeholder= instrukce
            minlength= question.minDelka || 2
            maxlength= question.maxDelka || 1000
            data-duplicate-text= duplicatedSource
            data-feedback= feedback
            data-save=""
            data-textarea-target=""
            rows= rows
            required=""
            tabindex="-1") !{question.hodnota}

          .user-text__counter
            span(data-usertext-counter="") 0
            span &thinsp;/&thinsp;!{question.maxDelka}
