
<p>Nyní po dlouhém studiu umožněném obětmi chudé matky vdovy a absolování předepsané advokátní prakse nadešel čas, abych si založil vlastní existenci. Je nasnadě, že z důvodů shora uvedených mohu a také bych chtěl míti vlastní advokátní kancelář v Plzni. Během doby však vzrostl počet advokátů v Plzni na 70, t.j. na počet, jímž jsou téměř ohroženi již zapsaní advokáti na své výživě. Z tohoto počtu je ale asi přes 50% židů, většinou národnosti německé, nebo židovské, kteří do Plzně přišli odjinud, Čechy nebyli a ani se jimi nikdy necítili. Jsou majetkově silni, takže konkurence s nimi je pro mne českého, nemajetného kandidáta advokacie, syna vdovy po dělníku bez podpory nemožna. Ve stejné situaci jsou i ostatní čeští kolegové, kandidáti advokacie v Plzni a na venkově tomu není lépe.</p>

<p>Výhled do budoucnosti je nyní za daného stavu pro mne jasný a hrozný. Nezmění-li se poměry, budu v budoucnosti bez existence já, má matka, o založení rodiny nemluvě, a budu přihlížeti, jak židovští advokáti, židovské nebo německé národnosti v české Plzni jsou dobře živi z peněz plzeňských českých lidí.</p>

